body {
  margin: 0%;
}

.container {
  background-color: #15162f;
  max-width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.DivLogo {
  display: flex;
  align-items: center;
}

.logoMiche {
  width: 200px;
  height: auto;
}

.divButtons {
  display: flex;
  align-items: center;
}

.buttonsNav {
  margin-left: 30px;
}

.Navtext {
  font-size: 25px;
  font-weight: 700;
  color: white;
}

.buttonsNav {
  width: 200px;
  height: 50px;
  border-radius: 30px;
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
  background-color: #f9d026;
}

.imgButton {
  width: 20px;
  padding-left: 12px;
  vertical-align: middle;
  display: inline-block;
}
.michesectblue {
  background-color: #15162f;
  background-image: url(https://uploads-ssl.webflow.com/6123daab7aabe860039063f6/6123dbb7e45a685ef2f2d07a_il-espuma-rojo.svg);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  padding: 90px 0 190px;
  display: flex;
}

.DivBodyText {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.michehtext {
  width: 65%;
  color: #fff;
  margin-bottom: 0;
  font-family: Poppins, sans-serif;
  font-size: 65px;
  font-weight: 700;
  line-height: 78px;
  margin-top: 20px;
}
