body {
  margin: 0%;
}

.container {
  background-color: #15162f;
  max-width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.DivLogo {
  display: flex;
  align-items: center;
}

.logoMiche {
  width: 200px;
  height: auto;
}

.divButtons {
  display: flex;
  align-items: center;
}

.buttonsNav {
  margin-left: 30px;
}

.Navtext {
  font-size: 25px;
  font-weight: 700;
  color: white;
}

.buttonsNav {
  width: 200px;
  height: 50px;
  border-radius: 30px;
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
  background-color: #f9d026;
}

.imgButton {
  width: 20px;
  padding-left: 12px;
  vertical-align: middle;
  display: inline-block;
}
.michesectblue {
  background-color: #15162f;
  background-image: url(https://uploads-ssl.webflow.com/6123daab7aabe860039063f6/6123dbb7e45a685ef2f2d07a_il-espuma-rojo.svg);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  padding: 90px 0 190px;
  display: flex;
}

.DivBodyText {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.michehtext {
  width: 65%;
  color: #fff;
  margin-bottom: 0;
  font-family: Poppins, sans-serif;
  font-size: 65px;
  font-weight: 700;
  line-height: 78px;
  margin-top: 20px;
}

.micheservices{
  padding-top: 200px;
  padding-bottom: 200px;
}

.michecontainer{
  max-width: 70%;
  flex-direction: column;
  align-items: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.miche2{
  color: #15162f;
  text-align: center;
  text-transform: none;
  margin-bottom: 25px;
  font-family: Poppins,sans-serif;
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px;
  margin-top: 32px;
}

.pmiche{
  width: 50%;
  color: #15162f;
  text-align: center;
  font-family: Montserrat,sans-serif;
  font-size: 16px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 10px;
}

.micheboosts{
  background-color: #dcdcdc;
  padding-top: 30px;
  padding-bottom: 30px;
}

.michecont2{
  max-width: 80%;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.michecolumns{
  margin-left: -10px;
  margin-right: -10px;
  display: flex;
}

.michesinglecol{
  height: 350px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 50%;
  box-sizing: border-box;
}

img{
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.micheright{
  height: 350px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  width: 50%;
  float: left;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  box-sizing: border-box;
}

.micheh3{
  color: #ea3434;
  margin-top: 0;
  margin-bottom: 35px;
  font-family: Poppins,sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 55px;
}

.michetex1{
  color: #15162f;
  margin-bottom: 35px;
  font-family: Montserrat,sans-serif;
  font-size: 23px;
  font-weight: 700;
  line-height: 32px;
}

.michep{
  margin-bottom: 35px;
  font-family: Montserrat,sans-serif;
  font-size: 17px;
  line-height: 24px;
  margin-top: 0;
}

.div-block-73{
  color: #15162f;
  background-color: #f9d026;
  border-radius: 25px;
  padding: 15px 25px;
  font-size: 19px;
  transition: all .25s;
  display: flex;
}

.michetextblock{
  padding: 0;
  font-family: Montserrat,sans-serif;
  font-weight: 700;
  text-decoration: none;
}

.image-82{
  padding-left: 12px;
  max-width: 100%;
  vertical-align: middle;
 display: inline-block;
}

.michecont2-desk{
  max-width: 80%;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.micheleft{
  height: 350px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  display: flex;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

.micheh3margin{
  color: #ea3434;
  margin-top: 0;
  margin-bottom: 35px;
  font-family: Poppins,sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 55px;
}

.michetext1left{
  color: #15162f;
  text-align: right;
  margin-bottom: 35px;
  font-family: Montserrat,sans-serif;
  font-size: 23px;
  font-weight: 700;
  line-height: 26px;
}

.michep3{
  text-align: right;
  margin-bottom: 35px;
  font-family: Montserrat,sans-serif;
  font-size: 17px;
  line-height: 24px;
  margin-top: 0;
}

.michesinglecolsp{
  height: 350px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 120%;
  float: left;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

.micheyellowbg{
  background-color: #f9d026;
  background-image: url(https://uploads-ssl.webflow.com/6123daab7aabe860039063f6/6123db6cc5df951dca867ded_il-espuma-rojo-inverted.svg);
  background-position: 75% 0;
  background-repeat: no-repeat;
  background-size: 22%;
  padding-top: 150px;
  padding-bottom: 150px;
}

.michecontleft {
  max-width: 70%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.micheh4 {
  width: 58%;
  color: #fff;
  text-align: left;
  text-transform: none;
  margin-bottom: 55px;
  font-family: Poppins,sans-serif;
  font-size: 62px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
  margin-top: 10px;
}

.michetextyllwbg {
  width: 58%;
  color: #15162f;
  margin-bottom: 0;
  font-family: Montserrat,sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
}

.spanmichewht {
  color: #fff;
  font-weight: 700;
}

.bold-text-29 {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
}

.michebluebg {
  background-color: #15162f;
  background-image: url(https://uploads-ssl.webflow.com/6123daab7aabe860039063f6/6123dbb729d06cb8fa19928f_il-espuma-azul-flip.png), url(https://uploads-ssl.webflow.com/6123daab7aabe860039063f6/6123dbb75233fd7f8e66bb3b_il-espuma-azul.svg);
  background-position: 100% 100%,0 0;
  background-repeat: no-repeat,no-repeat;
  background-size: auto,auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

.pmicheyllw{
  width: 60%;
  color: #f9d026;
  text-align: center;
  margin-bottom: 45px;
  font-family: Montserrat,sans-serif;
  font-size: 23px;
  font-weight: 700;
  line-height: 30px;
}

.michecontactmain {
  color: #15162f;
  background-color: #f9d026;
  border-radius: 25px;
  padding: 15px 25px;
  font-size: 19px;
  display: flex;
}

.michetextblock {
  padding: 0;
  font-family: Montserrat,sans-serif;
  font-weight: 700;
  text-decoration: none;
}

.michefooter {
  background-color: #292c52;
}

.containermichefooter {
  max-width: 80%;
  flex-direction: column;
  padding-top: 70px;
  padding-bottom: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.michedivsm {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  display: flex;
}

.michesm-copy {
  width: 150px;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.michesm {
  width: 40px;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.div-block-75 {
  width: 100%;
  height: 1px;
  background-color: #e2a84d;
}

.div-block-76 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.pmichefooter {
  width: 60%;
  color: #fff;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
  font-family: Montserrat,sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 30px;
}

.footer-traguitos {
  background-color: #000;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  display: flex;
}

.redes-michelada-traguitos {
  width: 600px;
  display: flex;
}

.redes-singlecol {
  height: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  float: left;
  width: 25%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

.redes-traguitos {
  width: 30px;
  height: 30px;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  border: 0;
}
